#
# Visual Studio
#
.vs/
bin/
obj/
packages/

# Resharper
*.DotSettings.user

# Build output
net46/
!net46/*.dll.meta

#
# Unity
#
# Project Cache
Library/
Temp/

# Generated Visual Studio Items
Assembly-CSharp*.csproj
unity-utilities*.sln
unity-utilities*.csproj